
.pollResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #f7f8fc;
  min-height: 100vh;
}

.poll {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.newQuestionContainer {
  margin-top: 1rem;
}
